body {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: #F5F7F8;
  margin: 0;
  padding: 0;
}
@font-face{
  font-family: "genOne";
  src: url("./assets/fonts/genOne.ttf");
}
#level-title {
  text-align: center;
  font-family: "genOne", sans-serif;
  font-size: 3vw;
  color: black;
  margin: 0;
}

.container {
  display: flex;
  width: 50%;
  height: 75%;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.title-container{
  display: flex;
  height: 25%;
  width: 100%;
  background-color: #EE1515;
  margin: 0;
  padding: 0;
  border-bottom: 2vw solid #222224;
  justify-content: center;
  align-items: center;
}
.btn {
  margin: 1vw;;
  display: inline-block;
  height: 15vw;
  width: 15vw;
  border: .3vw solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
  background-image: url("./assets/images/charmander.png");
  background-size: 100%;
}

.green {
  background-color: green;
  background-image: url("./assets/images/bulbasaur.png");
  background-size: 100%;
}

.blue {
  background-color: blue;
  background-image: url("./assets/images/squirtle.png");
  background-size: 100%;
}

.yellow {
  background-color: yellow;
  background-image: url("./assets/images/pikachu.png");
  background-size: 100%;
}

.pressed {
  box-shadow: 0 0 30px 20px gray;
}

#level-title p{
  font-size: 2.5vw; 
  padding: 0;
  margin: 0;
}

.game-over-styles{
  font-weight: bold;
  color: white;
}

@media (max-width: 1200px){
  .container{
    width: 80%;
  }
  .btn {
    border: .4vw solid black;
    height: 18vw;
    width: 18vw;
  }
}

@media (max-width: 992px){
  .btn {
    border: .5vw solid black;
    height: 24vw;
    width: 24vw;
  }
}

@media (max-width: 768px){
  .btn {
    border: .6vw solid black;
    height: 30vw;
    width: 30vw;
  }
}

@media (max-width: 576px){
  .btn {
    border: .7vw solid black;
    height: 35vw;
    width: 35vw;
  }
}




